{% load static %}

<div class="relative shadow-lg rounded-lg overflow-hidden bg-white transform transition duration-300 hover:scale-105">
  
  <!-- image produk -->
  <div class="relative">
    <img src="{% static 'image/bag.webp' %}" alt="Bag" class="w-full h-96 object-cover">
  </div>

  <!-- info produk -->
  <div class="p-4">
    <!-- name -->
    <h3 class="font-bold text-lg text-gray-800 mb-1">{{ product_entry.name }}</h3>

    <!-- color, size, dan description -->
    <p class="text-gray-600 text-sm mb-1"><strong>Color:</strong> {{ product_entry.color }}</p>
    <p class="text-gray-600 text-sm mb-1"><strong>Size:</strong> {{ product_entry.size }}</p>
    <p class="text-gray-600 text-sm mb-2"><strong>Description:</strong> {{ product_entry.description }}</p>

    <!-- price -->
    <div class="flex items-center justify-between mt-4">
      <span class="text-gray-500 text-sm">Price</span>
      <span class="text-gray-800 font-bold text-lg">Rp {{ product_entry.price }} </span>
    </div>
  </div>

  <!-- tombol aksi (edit/delete) -->
  <div class="absolute top-2 right-2 flex space-x-1">
    <!-- edit -->
    <a href="{% url 'main:edit_product' product_entry.pk %}" class="text-gray-500 hover:text-gray-700 transition duration-300">
      <svg fill="#000000" height="19px" width="19px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve">
        <g>
          <g>
            <path d="M403.914,0L54.044,349.871L0,512l162.128-54.044L512,108.086L403.914,0z M295.829,151.319l21.617,21.617L110.638,379.745
                    l-21.617-21.617L295.829,151.319z M71.532,455.932l-15.463-15.463l18.015-54.043l51.491,51.491L71.532,455.932z M153.871,422.979
                    l-21.617-21.617l206.809-206.809l21.617,21.617L153.871,422.979z M382.297,194.555l-64.852-64.852l21.617-21.617l64.852,64.852
                    L382.297,194.555z M360.679,86.468l43.234-43.235l64.853,64.853l-43.235,43.234L360.679,86.468z"/>
          </g>
        </g>
      </svg>
    </a>
    <!-- delete -->
    <a href="{% url 'main:delete_product' product_entry.pk %}" class="text-gray-500 hover:text-gray-700 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </a>
  </div>
</div>
